/*Parte global de los links*/
.nav{
    display: flex;
}

a {
    display: flex;
    margin-right: 2vw;
    text-decoration: underline;
    color: mediumturquoise;
}

a:hover{
    text-decoration: none;
    color: lightblue;
}

.nav .carrito {
    margin-left: 85%;
}

/*Home*/

h1{
    margin-top: 2%;
    padding-left: 4vw;
    color: white;
    font-family: "Aldrich", sans-serif;
    font-weight: 100;                   /*Determina el grosor del texto*/
    font-style: italic;
}

p {
    color: white;
    font-family: "Aldrich", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 6rem;
    height: 6rem;
}

.Contenido{
    background-color: black;
    border: 1px double white;
    margin-bottom: 3rem;
}

.imagenes {                     
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;  /*Gap es la separación horizontal que hay entre las dos imagenes que colocamos*/
    padding: 5vh 2vw;   
    border: 3% transparent;
    border-style: ridge;
    padding-top: 12rem;
    padding-bottom: 12rem;
    margin-right: 3rem;
    background-color: black;

}


.imagen_caja {
   display: flex;

   transform: scale(2.5);       /*se encarga de aumentar o reducir el tamaño de un objeto, multiplica el tamaño del elemento por, en este caso, 2.5*/
   border: 1% crimson;
   border-bottom-left-radius: 2%;
   border-top-left-radius: 2%;
   padding: 1%;
   padding-right: 0px;

   /*
    border-top-style: inset;
    border-left-style: outset;
    border-right-style: inset;
    */
    border-bottom-style: outset;
    border-left-style: inset;
/*
   border-top-style: outset;
   border-left-style: inset;
   border-right-style: inset;
*/
    margin-bottom: 25rem;  
   
   
    /* margin-left: 200px;
    margin-right: 25%;
    transform: scale(4); 
    border: 3px cyan;
    border-top-style: outset;
    border-left-style: inset;
    border-right-style: inset;
    border-bottom-style: outset; */
    
}

.imagen_caja p{
   padding-left: 2rem;
   font-size: small;
   margin-top: 2rem;
}

.imagen_suelas {
    display: flex;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
    margin-right: 15rem;
    margin-top: 22rem; 
    transform: scale(4); 
    border: 3.8px crimson;
    padding: 2%;

    border-top-style: inset;
    border-right-style: outset;
    /*
    border-left-style: outset;
    border-right-style: inset;
    border-bottom-style: outset;
    */
}

.imagen_suelas p{
    margin-right: 3rem;
    font-size: small;
    margin-top: 2rem;
}

.footer p {
    color: white;
}

.header {
    padding: 1rem;
}

.logo {
    max-width: 18rem;
    height: auto;
}

.descripcion_home {
    margin-left: 4rem;
    margin-right: 6rem;
    font-size: x-large;
}

/*About*/

.texto_about {
    margin-left: 3rem;
    font-size: larger;
    transition: all 1s ease;
}

.contenido p:hover {
    color: crimson;
    transition: color 1s ease;  /*Se hace un cambio de color cuando se pasa el mouse por encima, y este cambio tarda 1 segundo en efectuarse*/
}

.valores {
    margin-left: 3rem;
    text-decoration: underline;
}


/*Se escala para cada dispositivo*/

@media (max-width: 768px) {

    /* Reduce el tamaño máximo del logo para que se adapte mejor en celulares */
    .logo {
        max-width: 150px;
    }

    /* Cambia la como se muestra el menú de navegación a vertical y lo centra */
    .nav {
        flex-direction: column;     /* Los enlaces se apilan verticalmente */
        align-items: center;        /* Centra los enlaces horizontalmente */
    }

    /* Ajusta los párrafos dentro de .contenido para facilitar la lectura en celulares */
    .contenido p {
        margin: 10px 20px;      /* Espaciado lateral para que no pegue al borde */
        font-size: 1em;         /* Tamaño de fuente más adecuado para pantallas pequeñas */
    }
}

/*Carrito*/

.carrito-preview {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.carrito-preview p {
    font-size:x-large;
}

.carrito-preview button{
    font-size: 2em;
}

/*Contacto*/

.texto_contacto{
    margin-left: 50px;
}


/*Escalabilidad para diversos dispositivos*/

/* Tablets (768px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .imagenes {
    flex-direction: column;
    padding: 100px 20px;
    gap: 30px;
  }

  .imagen_caja, .imagen_suelas {
    transform: scale(1.5);
    margin: 0 auto;
  }

  .descripcion_home {
    font-size: large;
    margin: 20px;
  }
}

/* Pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
    padding-left: 10px;
  }

  .nav a {
    margin: 10px 0;
    font-size: 1em;
  }

  .imagenes {
    flex-direction: column;
    padding: 50px 10px;
    gap: 20px;
  }

  .imagen_caja, .imagen_suelas {
    transform: scale(1.2);
    margin: 0 auto;
  }

  .descripcion_home {
    font-size: medium;
    margin: 10px;
  }
}


