/*Parte global de los links*/
.nav{
    display: flex;
}

a {
    display: flex;
    margin-right: 20px;
    text-decoration: underline;
    color: mediumturquoise;
}

a:hover{
    text-decoration: none;
    color: lightblue;
}

.nav .carrito {
    margin-left: 85%;
}

/*Home*/

h1{
    margin-top: 40px;
    padding-left: 25px;
    color: white;
    font-family: "Aldrich", sans-serif;
    font-weight: 100;                   /*Determina el grosor del texto*/
    font-style: italic;
}

p {
    color: white;
    font-family: "Aldrich", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

.Contenido{
    background-color: black;
    border: 1px double white;
    margin-bottom: 40px;
}

.imagenes {                     
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;      /*Gap es la separación horizontal que hay entre las dos imagenes que colocamos*/
    border: 10px transparent;
    border-style: ridge;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: 50px;
    background-color: black;

}


.imagen_caja {
   display: flex;

   transform: scale(2.5);       /*se encarga de aumentar o reducir el tamaño de un objeto, multiplica el tamaño del elemento por, en este caso, 2.5*/
   border: 5px crimson;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   padding: 5px;
   padding-right: 0px;

   /*
    border-top-style: inset;
    border-left-style: outset;
    border-right-style: inset;
    */
    border-bottom-style: outset;
    border-left-style: inset;
/*
   border-top-style: outset;
   border-left-style: inset;
   border-right-style: inset;
*/
    margin-bottom: 400px;  
   
   
    /* margin-left: 200px;
    margin-right: 25%;
    transform: scale(4); 
    border: 3px cyan;
    border-top-style: outset;
    border-left-style: inset;
    border-right-style: inset;
    border-bottom-style: outset; */
    
}

.imagen_caja p{
   padding-left: 30px;
   font-size: small;
   margin-top: 35px;
}

.imagen_suelas {
    display: flex;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 250px;
    margin-top: 355px; 
    transform: scale(4); 
    border: 3.8px crimson;
    padding: 10px;

    border-top-style: inset;
    border-right-style: outset;
    /*
    border-left-style: outset;
    border-right-style: inset;
    border-bottom-style: outset;
    */
}

.imagen_suelas p{
    margin-right: 50px;
    font-size: small;
    margin-top: 30px;
}

.footer p {
    color: white;
}

.header {
    padding: 20px;
}

.logo {
    max-width: 300px;
    height: auto;
}

.descripcion_home {
    margin-left: 75px;
    margin-right: 100px;
    font-size: x-large;
}

/*About*/

.texto_about {
    margin-left: 50px;
    font-size: larger;
    transition: all 1s ease;
}

.contenido p:hover {
    color: crimson;
    transition: color 1s ease;  /*Se hace un cambio de color cuando se pasa el mouse por encima, y este cambio tarda 1 segundo en efectuarse*/
}


/*Se escala para cada dispositivo*/

@media (max-width: 768px) {

    /* Reduce el tamaño máximo del logo para que se adapte mejor en celulares */
    .logo {
        max-width: 150px;
    }

    /* Cambia la como se muestra el menú de navegación a vertical y lo centra */
    .nav {
        flex-direction: column;     /* Los enlaces se apilan verticalmente */
        align-items: center;        /* Centra los enlaces horizontalmente */
    }

    /* Ajusta los párrafos dentro de .contenido para facilitar la lectura en celulares */
    .contenido p {
        margin: 10px 20px;      /* Espaciado lateral para que no pegue al borde */
        font-size: 1em;         /* Tamaño de fuente más adecuado para pantallas pequeñas */
    }
}

/*Carrito*/

.carrito-preview {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.carrito-preview p {
    font-size:x-large;
}

.carrito-preview button{
    font-size: 2em;
}

/*Contacto*/

.texto_contacto{
    margin-left: 50px;
}